<%-include("../includes/header.ejs")%>
  <%-include("../includes/navbar.ejs")%>
  <div>
    <%-include("../includes/flash.ejs")%>
    <%-body%>
  </div>
  <%-include("../includes/footer.ejs") %>
</body>
</html> 