<% layout("/layouts/boilerplate") %>

  <div class="m-4 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 py-7 mt-9 ">
    <% for(r of result.reverse()){ %>
    <div class="flex-row ">
      <div class="">
          <a href="/listing/<%=r._id%>"><img class="w-screen h-56 rounded-xl hover:p-1 transition-all" src="<%= r.image %>" alt="fgfg" />
      </div>
      <div class="font-serif text-sm font-bold my-3"><%= r.title %></div>
      <div class="font-serif text-sm"><span>₹</span><span><%= r.price %></span><span>/night</span></div>
      <div class="font-serif text-sm"><span><%= r.location %></span><span>,</span><span><%= r.country %></span></div>
    </a>
    <% if(currUser && currUser._id.equals(r.owner._id)){%>
    <div class="grid grid-cols-3 py-2">
      <a href="/listing/<%=r._id%>/edit" class="bg-sky-600 hover:bg-green-800 rounded-full h-8 text-xs font-bold text-white content-center text-center items-center flex justify-center"> <span>Edit</span></a>
      <span></span>
      <form action="/listing/<%=r._id%>?_method=DELETE" method="POST">
        <button class="bg-sky-600 hover:bg-red-700 rounded-full w-full h-8 text-xs font-bold text-white ">Delete</button>
      </form>
    </div>
    <%}else{%>
      <div class="grid grid-cols-3 py-2">
        <a href="/listing/<%=r._id%>" class="bg-sky-600 hover:bg-green-800 rounded-full h-8 text-xs font-bold text-white content-center text-center items-center flex justify-center"> <span>Book Now</span></a>
        <span></span>
      </div>
    <%}%>
    </div>
    <%}%>
  
  </div>



