<%-include('includes/header.ejs')%> 
<%-include('includes/navbar.ejs')%>
  <div class="m-4 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 py-7 ">
    <% for(r of result.reverse()){ %>
    <div class="flex-row ">
      <div class="">
          <a href="/listing/<%=r._id%>"><img class="w-screen rounded-xl" src="<%= r.image %>" alt="fgfg" />
      </div>
      <div class="font-serif text-sm font-bold my-3"><%= r.title %></div>
      <div class="font-serif text-sm"><span>₹</span><span><%= r.price %></span><span>/night</span></div>
      <div class="font-serif text-sm"><span><%= r.location %></span><span>,</span><span><%= r.country %></span></div>
    </a>
    </div>
    <%}%>
  
  </div>


  <%-include("includes/footer.ejs") %>
