<% layout("/layouts/boilerplate") %>
  <div class="flex w-screen justify-center ">
    <div class="mx-4 my-12 flex flex-col md:w-8/12">
      <div class="flex justify-center">
        <img class="rounded-xl md:w-screen" src="<%=listing.image%>" alt="" />
      </div>
      <div class="mt-5 font-serif text-xl font-bold capitalize">
        <span><%=listing.title%></span>
      </div>
      <div class="font-serif text-lg"><span>₹</span><span><%=listing.price.toLocaleString("en-in")%></span><span>/night</span></div>
      <div class="font-serif text-lg capitalize"><span><%=listing.location%></span><span>,</span><span><%=listing.country%></span>
      </div>
      <div class="text-base text-slate-500 font-serif ">
        <p><%=listing.description%></p>
      </div>
      <!-- book now -->
      <div class="grid grid-cols-12 mt-6">

      <a href="/listing/<%=r._id%>" class="bg-sky-600 hover:bg-green-800 rounded-full h-8 text-xs font-bold text-white content-center text-center items-center flex justify-center col-span-12 "> <span>Book Now</span></a>
      </div>
      <!-- credit by -->
      <div class="grid grid-cols-12  w-full h-4 px-3 mt-4 mb-4 ">
        <div class="col-span-2 sm:col-span-8">
        </div>
        <div class="col-span-3 sm:col-span-1  flex justify-center items-center text-xs whitespace-nowrap">
          <svg xmlns="http://www.w3.org/2000/svg" width="16px" height="16px" viewBox="0 0 24 24" fill=""><path fill-rule="evenodd" clip-rule="evenodd" d="M21.007 8.27C22.194 9.125 23 10.45 23 12c0 1.55-.806 2.876-1.993 3.73.24 1.442-.134 2.958-1.227 4.05-1.095 1.095-2.61 1.459-4.046 1.225C14.883 22.196 13.546 23 12 23c-1.55 0-2.878-.807-3.731-1.996-1.438.235-2.954-.128-4.05-1.224-1.095-1.095-1.459-2.611-1.217-4.05C1.816 14.877 1 13.551 1 12s.816-2.878 2.002-3.73c-.242-1.439.122-2.955 1.218-4.05 1.093-1.094 2.61-1.467 4.057-1.227C9.125 1.804 10.453 1 12 1c1.545 0 2.88.803 3.732 1.993 1.442-.24 2.956.135 4.048 1.227 1.093 1.092 1.468 2.608 1.227 4.05Zm-4.426-.084a1 1 0 0 1 .233 1.395l-5 7a1 1 0 0 1-1.521.126l-3-3a1 1 0 0 1 1.414-1.414l2.165 2.165 4.314-6.04a1 1 0 0 1 1.395-.232Z" fill="#45b3e0"/></svg>
          Verified by: 
        </div>
         <div class="h-full w-full relative flex justify-center items-center col-span-2 sm:col-span-1 ">
          <div class=" border-blue-600 bg-white  w-8 h-8 absolute rounded-full z-10 bg-[url('https://svgshare.com/i/154Z.svg')] bg-no-repeat bg-cover">
            <img src="" class="rounded-full aspect-square ">
          </div>
          <div class="border-4 bg-black border-slate-500  w-9 h-9 absolute animate-spin rounded-full border-b-purple-600 border-r-pink-600 border-t-sky-700 border-l-orange-500">
          </div>
        </div>
        <div class=" grid grid-row-subgrid col-span-3 sm:col-span-1  ps-2 font-serif text-sm">
          <div class=" content-center font-bold"><%=listing.owner.username%></div>
          <div><%=listing.owner.email%></div>
        </div>
      
      </div>



      <hr class="w-full h-[1px] mx-auto my-4 bg-gray-100 border-0 rounded md:my-10 dark:bg-gray-400">
      <!-- Review Form -->
      <% if(currUser){%>
      <div>
        <form action="/listing/<%=listing.id%>/review" method="POST" name="reviewForm" onsubmit="return validateReview(this)" class="flex flex-col">
          <div><span class="text-xl font-bold">Leave a Review</span></div>
          <div>
            <!-- rating star -->
            <div class="text-white">
              <button type="button" id="starid1" class="reviewStar " onclick="star(this)">
                <svg xmlns="http://www.w3.org/2000/svg" width="30px" height="30px" viewBox="0 0 24 24" fill="currentcolor">
                  <path d="M11.2691 4.41115C11.5006 3.89177 11.6164 3.63208 11.7776 3.55211C11.9176 3.48263 12.082 3.48263 12.222 3.55211C12.3832 3.63208 12.499 3.89177 12.7305 4.41115L14.5745 8.54808C14.643 8.70162 14.6772 8.77839 14.7302 8.83718C14.777 8.8892 14.8343 8.93081 14.8982 8.95929C14.9705 8.99149 15.0541 9.00031 15.2213 9.01795L19.7256 9.49336C20.2911 9.55304 20.5738 9.58288 20.6997 9.71147C20.809 9.82316 20.8598 9.97956 20.837 10.1342C20.8108 10.3122 20.5996 10.5025 20.1772 10.8832L16.8125 13.9154C16.6877 14.0279 16.6252 14.0842 16.5857 14.1527C16.5507 14.2134 16.5288 14.2807 16.5215 14.3503C16.5132 14.429 16.5306 14.5112 16.5655 14.6757L17.5053 19.1064C17.6233 19.6627 17.6823 19.9408 17.5989 20.1002C17.5264 20.2388 17.3934 20.3354 17.2393 20.3615C17.0619 20.3915 16.8156 20.2495 16.323 19.9654L12.3995 17.7024C12.2539 17.6184 12.1811 17.5765 12.1037 17.56C12.0352 17.5455 11.9644 17.5455 11.8959 17.56C11.8185 17.5765 11.7457 17.6184 11.6001 17.7024L7.67662 19.9654C7.18404 20.2495 6.93775 20.3915 6.76034 20.3615C6.60623 20.3354 6.47319 20.2388 6.40075 20.1002C6.31736 19.9408 6.37635 19.6627 6.49434 19.1064L7.4341 14.6757C7.46898 14.5112 7.48642 14.429 7.47814 14.3503C7.47081 14.2807 7.44894 14.2134 7.41394 14.1527C7.37439 14.0842 7.31195 14.0279 7.18708 13.9154L3.82246 10.8832C3.40005 10.5025 3.18884 10.3122 3.16258 10.1342C3.13978 9.97956 3.19059 9.82316 3.29993 9.71147C3.42581 9.58288 3.70856 9.55304 4.27406 9.49336L8.77835 9.01795C8.94553 9.00031 9.02911 8.99149 9.10139 8.95929C9.16534 8.93081 9.2226 8.8892 9.26946 8.83718C9.32241 8.77839 9.35663 8.70162 9.42508 8.54808L11.2691 4.41115Z" stroke="black" stroke-width=".5" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
              </button>
              <button type="button" id="starid2" class="reviewStar " onclick="star(this)">
                <svg xmlns="http://www.w3.org/2000/svg" width="30px" height="30px" viewBox="0 0 24 24" fill="currentcolor">
                  <path d="M11.2691 4.41115C11.5006 3.89177 11.6164 3.63208 11.7776 3.55211C11.9176 3.48263 12.082 3.48263 12.222 3.55211C12.3832 3.63208 12.499 3.89177 12.7305 4.41115L14.5745 8.54808C14.643 8.70162 14.6772 8.77839 14.7302 8.83718C14.777 8.8892 14.8343 8.93081 14.8982 8.95929C14.9705 8.99149 15.0541 9.00031 15.2213 9.01795L19.7256 9.49336C20.2911 9.55304 20.5738 9.58288 20.6997 9.71147C20.809 9.82316 20.8598 9.97956 20.837 10.1342C20.8108 10.3122 20.5996 10.5025 20.1772 10.8832L16.8125 13.9154C16.6877 14.0279 16.6252 14.0842 16.5857 14.1527C16.5507 14.2134 16.5288 14.2807 16.5215 14.3503C16.5132 14.429 16.5306 14.5112 16.5655 14.6757L17.5053 19.1064C17.6233 19.6627 17.6823 19.9408 17.5989 20.1002C17.5264 20.2388 17.3934 20.3354 17.2393 20.3615C17.0619 20.3915 16.8156 20.2495 16.323 19.9654L12.3995 17.7024C12.2539 17.6184 12.1811 17.5765 12.1037 17.56C12.0352 17.5455 11.9644 17.5455 11.8959 17.56C11.8185 17.5765 11.7457 17.6184 11.6001 17.7024L7.67662 19.9654C7.18404 20.2495 6.93775 20.3915 6.76034 20.3615C6.60623 20.3354 6.47319 20.2388 6.40075 20.1002C6.31736 19.9408 6.37635 19.6627 6.49434 19.1064L7.4341 14.6757C7.46898 14.5112 7.48642 14.429 7.47814 14.3503C7.47081 14.2807 7.44894 14.2134 7.41394 14.1527C7.37439 14.0842 7.31195 14.0279 7.18708 13.9154L3.82246 10.8832C3.40005 10.5025 3.18884 10.3122 3.16258 10.1342C3.13978 9.97956 3.19059 9.82316 3.29993 9.71147C3.42581 9.58288 3.70856 9.55304 4.27406 9.49336L8.77835 9.01795C8.94553 9.00031 9.02911 8.99149 9.10139 8.95929C9.16534 8.93081 9.2226 8.8892 9.26946 8.83718C9.32241 8.77839 9.35663 8.70162 9.42508 8.54808L11.2691 4.41115Z" stroke="black" stroke-width=".5" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
              </button>
              <button type="button" id="starid3" class="reviewStar " onclick="star(this)">
                <svg xmlns="http://www.w3.org/2000/svg" width="30px" height="30px" viewBox="0 0 24 24" fill="currentcolor">
                  <path d="M11.2691 4.41115C11.5006 3.89177 11.6164 3.63208 11.7776 3.55211C11.9176 3.48263 12.082 3.48263 12.222 3.55211C12.3832 3.63208 12.499 3.89177 12.7305 4.41115L14.5745 8.54808C14.643 8.70162 14.6772 8.77839 14.7302 8.83718C14.777 8.8892 14.8343 8.93081 14.8982 8.95929C14.9705 8.99149 15.0541 9.00031 15.2213 9.01795L19.7256 9.49336C20.2911 9.55304 20.5738 9.58288 20.6997 9.71147C20.809 9.82316 20.8598 9.97956 20.837 10.1342C20.8108 10.3122 20.5996 10.5025 20.1772 10.8832L16.8125 13.9154C16.6877 14.0279 16.6252 14.0842 16.5857 14.1527C16.5507 14.2134 16.5288 14.2807 16.5215 14.3503C16.5132 14.429 16.5306 14.5112 16.5655 14.6757L17.5053 19.1064C17.6233 19.6627 17.6823 19.9408 17.5989 20.1002C17.5264 20.2388 17.3934 20.3354 17.2393 20.3615C17.0619 20.3915 16.8156 20.2495 16.323 19.9654L12.3995 17.7024C12.2539 17.6184 12.1811 17.5765 12.1037 17.56C12.0352 17.5455 11.9644 17.5455 11.8959 17.56C11.8185 17.5765 11.7457 17.6184 11.6001 17.7024L7.67662 19.9654C7.18404 20.2495 6.93775 20.3915 6.76034 20.3615C6.60623 20.3354 6.47319 20.2388 6.40075 20.1002C6.31736 19.9408 6.37635 19.6627 6.49434 19.1064L7.4341 14.6757C7.46898 14.5112 7.48642 14.429 7.47814 14.3503C7.47081 14.2807 7.44894 14.2134 7.41394 14.1527C7.37439 14.0842 7.31195 14.0279 7.18708 13.9154L3.82246 10.8832C3.40005 10.5025 3.18884 10.3122 3.16258 10.1342C3.13978 9.97956 3.19059 9.82316 3.29993 9.71147C3.42581 9.58288 3.70856 9.55304 4.27406 9.49336L8.77835 9.01795C8.94553 9.00031 9.02911 8.99149 9.10139 8.95929C9.16534 8.93081 9.2226 8.8892 9.26946 8.83718C9.32241 8.77839 9.35663 8.70162 9.42508 8.54808L11.2691 4.41115Z" stroke="black" stroke-width=".5" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
              </button>
              <button type="button" id="starid4" class="reviewStar " onclick="star(this)">
                <svg xmlns="http://www.w3.org/2000/svg" width="30px" height="30px" viewBox="0 0 24 24" fill="currentcolor">
                  <path d="M11.2691 4.41115C11.5006 3.89177 11.6164 3.63208 11.7776 3.55211C11.9176 3.48263 12.082 3.48263 12.222 3.55211C12.3832 3.63208 12.499 3.89177 12.7305 4.41115L14.5745 8.54808C14.643 8.70162 14.6772 8.77839 14.7302 8.83718C14.777 8.8892 14.8343 8.93081 14.8982 8.95929C14.9705 8.99149 15.0541 9.00031 15.2213 9.01795L19.7256 9.49336C20.2911 9.55304 20.5738 9.58288 20.6997 9.71147C20.809 9.82316 20.8598 9.97956 20.837 10.1342C20.8108 10.3122 20.5996 10.5025 20.1772 10.8832L16.8125 13.9154C16.6877 14.0279 16.6252 14.0842 16.5857 14.1527C16.5507 14.2134 16.5288 14.2807 16.5215 14.3503C16.5132 14.429 16.5306 14.5112 16.5655 14.6757L17.5053 19.1064C17.6233 19.6627 17.6823 19.9408 17.5989 20.1002C17.5264 20.2388 17.3934 20.3354 17.2393 20.3615C17.0619 20.3915 16.8156 20.2495 16.323 19.9654L12.3995 17.7024C12.2539 17.6184 12.1811 17.5765 12.1037 17.56C12.0352 17.5455 11.9644 17.5455 11.8959 17.56C11.8185 17.5765 11.7457 17.6184 11.6001 17.7024L7.67662 19.9654C7.18404 20.2495 6.93775 20.3915 6.76034 20.3615C6.60623 20.3354 6.47319 20.2388 6.40075 20.1002C6.31736 19.9408 6.37635 19.6627 6.49434 19.1064L7.4341 14.6757C7.46898 14.5112 7.48642 14.429 7.47814 14.3503C7.47081 14.2807 7.44894 14.2134 7.41394 14.1527C7.37439 14.0842 7.31195 14.0279 7.18708 13.9154L3.82246 10.8832C3.40005 10.5025 3.18884 10.3122 3.16258 10.1342C3.13978 9.97956 3.19059 9.82316 3.29993 9.71147C3.42581 9.58288 3.70856 9.55304 4.27406 9.49336L8.77835 9.01795C8.94553 9.00031 9.02911 8.99149 9.10139 8.95929C9.16534 8.93081 9.2226 8.8892 9.26946 8.83718C9.32241 8.77839 9.35663 8.70162 9.42508 8.54808L11.2691 4.41115Z" stroke="black" stroke-width=".5" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
              </button>
              <button type="button" id="starid5" class="reviewStar " onclick="star(this)">
                <svg xmlns="http://www.w3.org/2000/svg" width="30px" height="30px" viewBox="0 0 24 24" fill="currentcolor">
                  <path d="M11.2691 4.41115C11.5006 3.89177 11.6164 3.63208 11.7776 3.55211C11.9176 3.48263 12.082 3.48263 12.222 3.55211C12.3832 3.63208 12.499 3.89177 12.7305 4.41115L14.5745 8.54808C14.643 8.70162 14.6772 8.77839 14.7302 8.83718C14.777 8.8892 14.8343 8.93081 14.8982 8.95929C14.9705 8.99149 15.0541 9.00031 15.2213 9.01795L19.7256 9.49336C20.2911 9.55304 20.5738 9.58288 20.6997 9.71147C20.809 9.82316 20.8598 9.97956 20.837 10.1342C20.8108 10.3122 20.5996 10.5025 20.1772 10.8832L16.8125 13.9154C16.6877 14.0279 16.6252 14.0842 16.5857 14.1527C16.5507 14.2134 16.5288 14.2807 16.5215 14.3503C16.5132 14.429 16.5306 14.5112 16.5655 14.6757L17.5053 19.1064C17.6233 19.6627 17.6823 19.9408 17.5989 20.1002C17.5264 20.2388 17.3934 20.3354 17.2393 20.3615C17.0619 20.3915 16.8156 20.2495 16.323 19.9654L12.3995 17.7024C12.2539 17.6184 12.1811 17.5765 12.1037 17.56C12.0352 17.5455 11.9644 17.5455 11.8959 17.56C11.8185 17.5765 11.7457 17.6184 11.6001 17.7024L7.67662 19.9654C7.18404 20.2495 6.93775 20.3915 6.76034 20.3615C6.60623 20.3354 6.47319 20.2388 6.40075 20.1002C6.31736 19.9408 6.37635 19.6627 6.49434 19.1064L7.4341 14.6757C7.46898 14.5112 7.48642 14.429 7.47814 14.3503C7.47081 14.2807 7.44894 14.2134 7.41394 14.1527C7.37439 14.0842 7.31195 14.0279 7.18708 13.9154L3.82246 10.8832C3.40005 10.5025 3.18884 10.3122 3.16258 10.1342C3.13978 9.97956 3.19059 9.82316 3.29993 9.71147C3.42581 9.58288 3.70856 9.55304 4.27406 9.49336L8.77835 9.01795C8.94553 9.00031 9.02911 8.99149 9.10139 8.95929C9.16534 8.93081 9.2226 8.8892 9.26946 8.83718C9.32241 8.77839 9.35663 8.70162 9.42508 8.54808L11.2691 4.41115Z" stroke="black" stroke-width=".5" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
              </button>
              <input id="ratingReview" name="ratingReview" hidden />
              
            </div>
            <span id="showError1" class="text-xs text-red-500"> </span>
            <fieldset class="space-y-4 border p-3 px-3 shadow-inner">
              <legend class="gap-x-2">Comment</legend>
              <!-- <span class="font-bold ">Comments </span> -->
              <span class="text-xs" id="counterReview"></span>
              <textarea id="review" onkeyup="idReviewValid()"  name="review" id="" cols="30" rows="10" class="w-full border-2 h-52 placeholder:text-sm focus:outline-1 focus:outline-green-500 focus:caret-green-500" placeholder="Say about your stay..."  > </textarea>
              <span id="showError2" class="text-xs text-red-500"> </span>
              <div class="flex justify-center items-center pt-3"><button type="submit" class="bg-sky-500 p-2 px-5 rounded-full shadow-xl hover:border-2 hover:border-sky-800 transition-all">Submit</button></div>
            </fieldset> 
            
          </div>
          
        </form> 



        
      </div>
      <%}%>

    
    </div>
  </div>

<!-- //review display -->

  <div class="w-screen flex justify-center">
    <div class="w-screen md:w-8/12 flex justify-center">
  
    <div class="snap-proximity snap-x flex lg:grid lg:grid-cols-3 overflow-x-auto no-scrollbar space-x-3 lg:space-x-0 lg:space-y-0 p-4 py-10 lg:gap-4 rever"> 
      
      <%for(let i=listing.reviews.length-1;i>=0;i--){%>
      <div class="snap-center flex-shrink-0 w-80  rounded-xl grid grid-cols-12 grid-row-12 h-[210px] shadow-xl lg:shadow shadow-slate-500 ">
        <div class="grid grid-cols-subgrid col-span-12 row-span-2 space-x-4 items-center px-1 md:order-1 order-3">
          <div class="h-14 w-14 border  border-slate-500 col-span-2 rounded-full flex justify-center items-center bg-[url('https://svgshare.com/i/154Z.svg')] bg-no-repeat bg-cover ]">
          <img src="" alt="" class="rounded-full ">
          </div>
          <div class=" col-span-8 items-center ">
            <p  class="text-sm"><%= listing.reviews[i].author.username%></p>
            <span  class="text-xs">Noida ,India</span>
          </div>
          <div class="col-span-2  relative ">
            <!-- //edit and delete -->
            <% if(currUser && currUser._id.equals(listing.reviews[i].author._id)){%>
            <button class=" absolute -top-5" >
              <img id="reviewDot" onclick="mainReview(event,this)"  class="" src="https://svgshare.com/i/15Ea.svg" alt="">
            </button>
            <%}%>
            
            <div id="" class="reviewDeleteList absolute top-0 right-4 border-slate-200 rounded-md shadow-lg w-11 hidden ">
                <ul class=" text-black text-xs divide-y divide-slate-300 w-12 ">
                  <li class="hover:bg-black hover:font-bold hover:text-white px-1" >
                    <button onclick="ff(this)" > Edit</button>
                    <input id="reviewId" name="reviewId" value="<%=listing.reviews[i]._id%>" hidden/>
                  </li>
                <li class="hover:bg-black hover:font-bold hover:text-white px-1">
                  <form action="/listing/<%=listing.id%>/review/<%=listing.reviews[i]._id%>?_method=DELETE" method="post" onsubmit="return sureDelete(this)" id="confirmDeleteForm">
                    <button>Delete</button>
                  </form>
                  
                </li>
            </ul>
            </div>
            

          </div>
        </div>
        
        <div class="flex px-1 col-span-12 row-span-1 text-yellow-500 space-x-1 md:order-2 order-1 pt-1">
          
          <span class="hidden"><%= num = listing.reviews[i].rating%></span>
          <%for(let i=0;i<num;i++){%> 
          <svg xmlns="http://www.w3.org/2000/svg" width="14px" height="30px" viewBox="0 0 24 24" fill="currentcolor">
                      <path d="M11.2691 4.41115C11.5006 3.89177 11.6164 3.63208 11.7776 3.55211C11.9176 3.48263 12.082 3.48263 12.222 3.55211C12.3832 3.63208 12.499 3.89177 12.7305 4.41115L14.5745 8.54808C14.643 8.70162 14.6772 8.77839 14.7302 8.83718C14.777 8.8892 14.8343 8.93081 14.8982 8.95929C14.9705 8.99149 15.0541 9.00031 15.2213 9.01795L19.7256 9.49336C20.2911 9.55304 20.5738 9.58288 20.6997 9.71147C20.809 9.82316 20.8598 9.97956 20.837 10.1342C20.8108 10.3122 20.5996 10.5025 20.1772 10.8832L16.8125 13.9154C16.6877 14.0279 16.6252 14.0842 16.5857 14.1527C16.5507 14.2134 16.5288 14.2807 16.5215 14.3503C16.5132 14.429 16.5306 14.5112 16.5655 14.6757L17.5053 19.1064C17.6233 19.6627 17.6823 19.9408 17.5989 20.1002C17.5264 20.2388 17.3934 20.3354 17.2393 20.3615C17.0619 20.3915 16.8156 20.2495 16.323 19.9654L12.3995 17.7024C12.2539 17.6184 12.1811 17.5765 12.1037 17.56C12.0352 17.5455 11.9644 17.5455 11.8959 17.56C11.8185 17.5765 11.7457 17.6184 11.6001 17.7024L7.67662 19.9654C7.18404 20.2495 6.93775 20.3915 6.76034 20.3615C6.60623 20.3354 6.47319 20.2388 6.40075 20.1002C6.31736 19.9408 6.37635 19.6627 6.49434 19.1064L7.4341 14.6757C7.46898 14.5112 7.48642 14.429 7.47814 14.3503C7.47081 14.2807 7.44894 14.2134 7.41394 14.1527C7.37439 14.0842 7.31195 14.0279 7.18708 13.9154L3.82246 10.8832C3.40005 10.5025 3.18884 10.3122 3.16258 10.1342C3.13978 9.97956 3.19059 9.82316 3.29993 9.71147C3.42581 9.58288 3.70856 9.55304 4.27406 9.49336L8.77835 9.01795C8.94553 9.00031 9.02911 8.99149 9.10139 8.95929C9.16534 8.93081 9.2226 8.8892 9.26946 8.83718C9.32241 8.77839 9.35663 8.70162 9.42508 8.54808L11.2691 4.41115Z" stroke="currentcolor" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round" />
          </svg>
          <%}%>
        </div>
        
        <div class="col-span-12 row-span-8  order-2">
          <span class="px-2 line-clamp-4 text-sm break-words">
            <%= listing.reviews[i].review%>
          </span>
        </div>
        
      </div>
      <%}%>
    </div>
    </div>
  </div>

  
<!-- //review update -->

<div id="reviewUpdate" class="hidden">
  
  <div class="flex justify-center w-screen h-screen items-center backdrop-blur-sm fixed top-0 ">
    <div class="md:w-1/2 w-full rounded-2xl shadow-xl border bg-white"> 
      <form action="/listing/<%=listing.id%>/review?_method=PUT" method="POST" name="reviewUpdateForm" onsubmit="return validateReviewUpdate(this)" class="flex flex-col">

      <div class="grid grid-cols-12 p-3 mx">
        <span class="text-xl font-bold flex justify-center whitespace-nowrap col-span-11">Update Review </span> 
        <div class="flex justify-center items-center border rounded-md text-white bg-sky-500 px-3 hover:bg-red-800 ">
          <button type="button"  onclick="closeReviewUpdate(this)" class="font-bold px-5">X</button>
        </div>
        </div>
        <div class="flex flex-row px-5"><span class="text-xs whitespace-nowrap text-gray-200 font-bold">Comment Id: </span><input id="reviewUpdateId" name="reviewUpdateId" class="text-xs inline w-full font-bold text-gray-200"/></div>
        <span class="w-full border mb-2 bg-slate-300 shadow-lg"></span>
        <!-- rating star -->
        <div class="text-white">
          <button type="button" id="starUpdateid1" class="reviewStar" onclick="starUpdate(this)">
            <svg xmlns="http://www.w3.org/2000/svg" width="30px" height="30px" viewBox="0 0 24 24" fill="currentcolor">
              <path d="M11.2691 4.41115C11.5006 3.89177 11.6164 3.63208 11.7776 3.55211C11.9176 3.48263 12.082 3.48263 12.222 3.55211C12.3832 3.63208 12.499 3.89177 12.7305 4.41115L14.5745 8.54808C14.643 8.70162 14.6772 8.77839 14.7302 8.83718C14.777 8.8892 14.8343 8.93081 14.8982 8.95929C14.9705 8.99149 15.0541 9.00031 15.2213 9.01795L19.7256 9.49336C20.2911 9.55304 20.5738 9.58288 20.6997 9.71147C20.809 9.82316 20.8598 9.97956 20.837 10.1342C20.8108 10.3122 20.5996 10.5025 20.1772 10.8832L16.8125 13.9154C16.6877 14.0279 16.6252 14.0842 16.5857 14.1527C16.5507 14.2134 16.5288 14.2807 16.5215 14.3503C16.5132 14.429 16.5306 14.5112 16.5655 14.6757L17.5053 19.1064C17.6233 19.6627 17.6823 19.9408 17.5989 20.1002C17.5264 20.2388 17.3934 20.3354 17.2393 20.3615C17.0619 20.3915 16.8156 20.2495 16.323 19.9654L12.3995 17.7024C12.2539 17.6184 12.1811 17.5765 12.1037 17.56C12.0352 17.5455 11.9644 17.5455 11.8959 17.56C11.8185 17.5765 11.7457 17.6184 11.6001 17.7024L7.67662 19.9654C7.18404 20.2495 6.93775 20.3915 6.76034 20.3615C6.60623 20.3354 6.47319 20.2388 6.40075 20.1002C6.31736 19.9408 6.37635 19.6627 6.49434 19.1064L7.4341 14.6757C7.46898 14.5112 7.48642 14.429 7.47814 14.3503C7.47081 14.2807 7.44894 14.2134 7.41394 14.1527C7.37439 14.0842 7.31195 14.0279 7.18708 13.9154L3.82246 10.8832C3.40005 10.5025 3.18884 10.3122 3.16258 10.1342C3.13978 9.97956 3.19059 9.82316 3.29993 9.71147C3.42581 9.58288 3.70856 9.55304 4.27406 9.49336L8.77835 9.01795C8.94553 9.00031 9.02911 8.99149 9.10139 8.95929C9.16534 8.93081 9.2226 8.8892 9.26946 8.83718C9.32241 8.77839 9.35663 8.70162 9.42508 8.54808L11.2691 4.41115Z" stroke="black" stroke-width=".5" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
          </button>
          <button type="button" id="starUpdateid2" class="reviewStar " onclick="starUpdate(this)">
            <svg xmlns="http://www.w3.org/2000/svg" width="30px" height="30px" viewBox="0 0 24 24" fill="currentcolor">
              <path d="M11.2691 4.41115C11.5006 3.89177 11.6164 3.63208 11.7776 3.55211C11.9176 3.48263 12.082 3.48263 12.222 3.55211C12.3832 3.63208 12.499 3.89177 12.7305 4.41115L14.5745 8.54808C14.643 8.70162 14.6772 8.77839 14.7302 8.83718C14.777 8.8892 14.8343 8.93081 14.8982 8.95929C14.9705 8.99149 15.0541 9.00031 15.2213 9.01795L19.7256 9.49336C20.2911 9.55304 20.5738 9.58288 20.6997 9.71147C20.809 9.82316 20.8598 9.97956 20.837 10.1342C20.8108 10.3122 20.5996 10.5025 20.1772 10.8832L16.8125 13.9154C16.6877 14.0279 16.6252 14.0842 16.5857 14.1527C16.5507 14.2134 16.5288 14.2807 16.5215 14.3503C16.5132 14.429 16.5306 14.5112 16.5655 14.6757L17.5053 19.1064C17.6233 19.6627 17.6823 19.9408 17.5989 20.1002C17.5264 20.2388 17.3934 20.3354 17.2393 20.3615C17.0619 20.3915 16.8156 20.2495 16.323 19.9654L12.3995 17.7024C12.2539 17.6184 12.1811 17.5765 12.1037 17.56C12.0352 17.5455 11.9644 17.5455 11.8959 17.56C11.8185 17.5765 11.7457 17.6184 11.6001 17.7024L7.67662 19.9654C7.18404 20.2495 6.93775 20.3915 6.76034 20.3615C6.60623 20.3354 6.47319 20.2388 6.40075 20.1002C6.31736 19.9408 6.37635 19.6627 6.49434 19.1064L7.4341 14.6757C7.46898 14.5112 7.48642 14.429 7.47814 14.3503C7.47081 14.2807 7.44894 14.2134 7.41394 14.1527C7.37439 14.0842 7.31195 14.0279 7.18708 13.9154L3.82246 10.8832C3.40005 10.5025 3.18884 10.3122 3.16258 10.1342C3.13978 9.97956 3.19059 9.82316 3.29993 9.71147C3.42581 9.58288 3.70856 9.55304 4.27406 9.49336L8.77835 9.01795C8.94553 9.00031 9.02911 8.99149 9.10139 8.95929C9.16534 8.93081 9.2226 8.8892 9.26946 8.83718C9.32241 8.77839 9.35663 8.70162 9.42508 8.54808L11.2691 4.41115Z" stroke="black" stroke-width=".5" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
          </button>
          <button type="button" id="starUpdateid3" class="reviewStar " onclick="starUpdate(this)">
            <svg xmlns="http://www.w3.org/2000/svg" width="30px" height="30px" viewBox="0 0 24 24" fill="currentcolor">
              <path d="M11.2691 4.41115C11.5006 3.89177 11.6164 3.63208 11.7776 3.55211C11.9176 3.48263 12.082 3.48263 12.222 3.55211C12.3832 3.63208 12.499 3.89177 12.7305 4.41115L14.5745 8.54808C14.643 8.70162 14.6772 8.77839 14.7302 8.83718C14.777 8.8892 14.8343 8.93081 14.8982 8.95929C14.9705 8.99149 15.0541 9.00031 15.2213 9.01795L19.7256 9.49336C20.2911 9.55304 20.5738 9.58288 20.6997 9.71147C20.809 9.82316 20.8598 9.97956 20.837 10.1342C20.8108 10.3122 20.5996 10.5025 20.1772 10.8832L16.8125 13.9154C16.6877 14.0279 16.6252 14.0842 16.5857 14.1527C16.5507 14.2134 16.5288 14.2807 16.5215 14.3503C16.5132 14.429 16.5306 14.5112 16.5655 14.6757L17.5053 19.1064C17.6233 19.6627 17.6823 19.9408 17.5989 20.1002C17.5264 20.2388 17.3934 20.3354 17.2393 20.3615C17.0619 20.3915 16.8156 20.2495 16.323 19.9654L12.3995 17.7024C12.2539 17.6184 12.1811 17.5765 12.1037 17.56C12.0352 17.5455 11.9644 17.5455 11.8959 17.56C11.8185 17.5765 11.7457 17.6184 11.6001 17.7024L7.67662 19.9654C7.18404 20.2495 6.93775 20.3915 6.76034 20.3615C6.60623 20.3354 6.47319 20.2388 6.40075 20.1002C6.31736 19.9408 6.37635 19.6627 6.49434 19.1064L7.4341 14.6757C7.46898 14.5112 7.48642 14.429 7.47814 14.3503C7.47081 14.2807 7.44894 14.2134 7.41394 14.1527C7.37439 14.0842 7.31195 14.0279 7.18708 13.9154L3.82246 10.8832C3.40005 10.5025 3.18884 10.3122 3.16258 10.1342C3.13978 9.97956 3.19059 9.82316 3.29993 9.71147C3.42581 9.58288 3.70856 9.55304 4.27406 9.49336L8.77835 9.01795C8.94553 9.00031 9.02911 8.99149 9.10139 8.95929C9.16534 8.93081 9.2226 8.8892 9.26946 8.83718C9.32241 8.77839 9.35663 8.70162 9.42508 8.54808L11.2691 4.41115Z" stroke="black" stroke-width=".5" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
          </button>
          <button type="button" id="starUpdateid4" class="reviewStar " onclick="starUpdate(this)">
            <svg xmlns="http://www.w3.org/2000/svg" width="30px" height="30px" viewBox="0 0 24 24" fill="currentcolor">
              <path d="M11.2691 4.41115C11.5006 3.89177 11.6164 3.63208 11.7776 3.55211C11.9176 3.48263 12.082 3.48263 12.222 3.55211C12.3832 3.63208 12.499 3.89177 12.7305 4.41115L14.5745 8.54808C14.643 8.70162 14.6772 8.77839 14.7302 8.83718C14.777 8.8892 14.8343 8.93081 14.8982 8.95929C14.9705 8.99149 15.0541 9.00031 15.2213 9.01795L19.7256 9.49336C20.2911 9.55304 20.5738 9.58288 20.6997 9.71147C20.809 9.82316 20.8598 9.97956 20.837 10.1342C20.8108 10.3122 20.5996 10.5025 20.1772 10.8832L16.8125 13.9154C16.6877 14.0279 16.6252 14.0842 16.5857 14.1527C16.5507 14.2134 16.5288 14.2807 16.5215 14.3503C16.5132 14.429 16.5306 14.5112 16.5655 14.6757L17.5053 19.1064C17.6233 19.6627 17.6823 19.9408 17.5989 20.1002C17.5264 20.2388 17.3934 20.3354 17.2393 20.3615C17.0619 20.3915 16.8156 20.2495 16.323 19.9654L12.3995 17.7024C12.2539 17.6184 12.1811 17.5765 12.1037 17.56C12.0352 17.5455 11.9644 17.5455 11.8959 17.56C11.8185 17.5765 11.7457 17.6184 11.6001 17.7024L7.67662 19.9654C7.18404 20.2495 6.93775 20.3915 6.76034 20.3615C6.60623 20.3354 6.47319 20.2388 6.40075 20.1002C6.31736 19.9408 6.37635 19.6627 6.49434 19.1064L7.4341 14.6757C7.46898 14.5112 7.48642 14.429 7.47814 14.3503C7.47081 14.2807 7.44894 14.2134 7.41394 14.1527C7.37439 14.0842 7.31195 14.0279 7.18708 13.9154L3.82246 10.8832C3.40005 10.5025 3.18884 10.3122 3.16258 10.1342C3.13978 9.97956 3.19059 9.82316 3.29993 9.71147C3.42581 9.58288 3.70856 9.55304 4.27406 9.49336L8.77835 9.01795C8.94553 9.00031 9.02911 8.99149 9.10139 8.95929C9.16534 8.93081 9.2226 8.8892 9.26946 8.83718C9.32241 8.77839 9.35663 8.70162 9.42508 8.54808L11.2691 4.41115Z" stroke="black" stroke-width=".5" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
          </button>
          <button type="button" id="starUpdateid5" class="reviewStar " onclick="starUpdate(this)">
            <svg xmlns="http://www.w3.org/2000/svg" width="30px" height="30px" viewBox="0 0 24 24" fill="currentcolor">
              <path d="M11.2691 4.41115C11.5006 3.89177 11.6164 3.63208 11.7776 3.55211C11.9176 3.48263 12.082 3.48263 12.222 3.55211C12.3832 3.63208 12.499 3.89177 12.7305 4.41115L14.5745 8.54808C14.643 8.70162 14.6772 8.77839 14.7302 8.83718C14.777 8.8892 14.8343 8.93081 14.8982 8.95929C14.9705 8.99149 15.0541 9.00031 15.2213 9.01795L19.7256 9.49336C20.2911 9.55304 20.5738 9.58288 20.6997 9.71147C20.809 9.82316 20.8598 9.97956 20.837 10.1342C20.8108 10.3122 20.5996 10.5025 20.1772 10.8832L16.8125 13.9154C16.6877 14.0279 16.6252 14.0842 16.5857 14.1527C16.5507 14.2134 16.5288 14.2807 16.5215 14.3503C16.5132 14.429 16.5306 14.5112 16.5655 14.6757L17.5053 19.1064C17.6233 19.6627 17.6823 19.9408 17.5989 20.1002C17.5264 20.2388 17.3934 20.3354 17.2393 20.3615C17.0619 20.3915 16.8156 20.2495 16.323 19.9654L12.3995 17.7024C12.2539 17.6184 12.1811 17.5765 12.1037 17.56C12.0352 17.5455 11.9644 17.5455 11.8959 17.56C11.8185 17.5765 11.7457 17.6184 11.6001 17.7024L7.67662 19.9654C7.18404 20.2495 6.93775 20.3915 6.76034 20.3615C6.60623 20.3354 6.47319 20.2388 6.40075 20.1002C6.31736 19.9408 6.37635 19.6627 6.49434 19.1064L7.4341 14.6757C7.46898 14.5112 7.48642 14.429 7.47814 14.3503C7.47081 14.2807 7.44894 14.2134 7.41394 14.1527C7.37439 14.0842 7.31195 14.0279 7.18708 13.9154L3.82246 10.8832C3.40005 10.5025 3.18884 10.3122 3.16258 10.1342C3.13978 9.97956 3.19059 9.82316 3.29993 9.71147C3.42581 9.58288 3.70856 9.55304 4.27406 9.49336L8.77835 9.01795C8.94553 9.00031 9.02911 8.99149 9.10139 8.95929C9.16534 8.93081 9.2226 8.8892 9.26946 8.83718C9.32241 8.77839 9.35663 8.70162 9.42508 8.54808L11.2691 4.41115Z" stroke="black" stroke-width=".5" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
          </button>
          <input id="ratingUpdateReview" name="ratingUpdateReview" hidden />
          
        </div>
        <span id="showUpdateError1" class="text-xs text-red-500"> </span>
        
        <fieldset class="space-y-4 border p-3 px-3 shadow-inner">
          <legend class="gap-x-2">Comment</legend>
          <!-- <span class="font-bold ">Comments </span> -->
          <span class="text-xs" id="counterReviewUpdate"></span>
          <textarea id="editReview" onkeyup="idUpdateReviewValid(this)"  name="review" id="reviewUpdateTextarea" cols="30" rows="10" class="w-full border-2 h-52 placeholder:text-sm focus:outline-1 focus:outline-green-500 focus:caret-green-500" placeholder="Say about your stay..."  > </textarea>
          <span id="showUpdateError2" name="showUpdateError2" class="text-xs text-red-500"> </span>
          <div class="flex justify-center items-center pt-3"><button type="submit" class="bg-sky-500 p-2 px-5 rounded-full shadow-xl hover:border-2 hover:border-sky-800 transition-all">Submit</button></div>
        </fieldset> 
        
      </div>
      
    </form> 
    </div>
</div>



        
      </div>




 <!-- delete popup -->

 <div class="bg-white-600/30 h-screen w-screen flex justify-center items-center backdrop-blur-sm fixed top-0 hidden transition-all " id="deleteClosePopup" >

  <div class="border-2 md:w-1/2 md:h-1/3 w-full h-1/4 bg-white fixed shadow-xl rounded-xl  p-1 ">
  
    <div class="flex justify-end">
      <div class="border bg-sky-500 rounded-md flex justify-center  items-center col-start-11 h-7 w-12 text-white font-bold shadow-xl border-gray-400">
      <button class="w-full hover:bg-green-900 h-full rounded-md " type="button" onclick="closeDelete()">X</button>
    </div>
    </div>
    <div class="col-span-12 text-center font-serif px-1 pt-4">
      <span>Are You sure You want to delete the review ?</span>
    </div>

      <div class="col-span-12 flex justify-center space-x-3 pt-7">

        <button class="bg-sky-500 w-24 text-white font-semi-bold text-sm h-8 rounded-lg serif hover:bg-red-900" onclick="okDelete()">Ok</button>
        <button class="bg-sky-500 w-24 text-white font-semi-bold text-sm h-8 rounded-lg serif hover:bg-green-900 hover:outline-2 hover:outline-black" onclick="closeDelete()">Close</button>

      </div>
      

  </div>

</div>